<% include partials/head.ejs %>
<% include partials/navigation.ejs %>

<!-- show success messages -->
<% include partials/messages.ejs %>

<!-- show error messages -->
<% include partials/errors.ejs %>


<!-- only visible to admin -->

<% if (userRole === 'admin' && authenticated == true) { %>


<!-- Modal Register -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="registerLabel">Neue Registrierung</h2>
            </div>
            <div class="modal-body">

                <!-- show registration -->

                <form action="/register" method="post">
                    <div class="form-group">

                        <label for="user">Name</label>
                        <input name="username" type="text" class="form-control" id="user" aria-describedby="emailHelp"
                               placeholder="Username" required>

                        <label for="password">Passwort</label>
                        <input name="password" type="password" class="form-control" id="password"
                               placeholder="Passwort" required>

                        <label for="repPassword">Passwort wiederholen</label>
                        <input name="repPassword" type="password" class="form-control" name="repPassword" required>
                        <small id="emailHelp" class="form-text text-muted">nur zur Sicherheit :)</small>


                    </div>
                    <div class="form-group">
                        <label for="role">Rolle auswählen:</label>
                        <select name="role" class="form-control" id="role">
                            <optgroup label="ROLLEN">
                                <option selected="selected" disabled="disabled">Bitte auswählen</option>
                                <option value="admin">Admin</option>
                                <option value="lager">Lager</option>
                                <option value="bar">Bar</option>
                            </optgroup>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Registrieren</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Register ENDE -->


<!-- Modal add article -->
<div class="modal fade" id="addaticle" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="registerLabel">Neuen Artikel anlegen</h2>
            </div>
            <div class="modal-body">

                <!-- show add window -->

                <form action="/addaticle" method="post">
                    <div class="form-group">

                        <label for="article">Artikel</label>
                        <input name="description" type="text" class="form-control" id="article"
                               aria-describedby="emailHelp"
                               placeholder="Artikel" required>

                        <label for="startstock">Anfangsbestand</label>
                        <input name="startstock" type="int" class="form-control" id="startstock"
                               placeholder="Anfangsbestand" required>


                    </div>
                    <div class="form-group">
                        <label for="kind">Art:</label>
                        <select name="kind" class="form-control" id="kind">
                            <optgroup label="Art">
                                <option selected="selected" disabled="disabled">Bitte auswählen</option>
                                <option value="Kiste">Kiste</option>
                                <option value="Flasche">Flasche</option>
                                <option value="Stück">Stück</option>
                            </optgroup>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Einfügen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal add article ENDE -->


<!-- Modal Register to show the Orders for admin -->
<div class="modal fade" id="showordersadmin" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="registerLabel">Bestellungen</h2>
            </div>
            <div class="modal-body">
                <!-- show orders -->

                    <h1>Bestellungen</h1>

                    <div class="row">
                        <div class="col-xs-1"><h4>ID</h4></div>
                        <div class="col-xs-2"><h4>Name</h4></div>
                        <div class="col-xs-2"><h4>Datum</h4></div>
                        <div class="col-xs-3"><h4>Status</h4></div>
                        <div class="col-xs-2"><h4>Inhalt</h4></div>
                    </div>

                    <% for(var i = 0; i < stock.length; i++) { %>
                <% var x = stock[i].datetime%>
                <% var dateString = moment.utc(x).format("DD-MM-YYYY, HH:mm"); %>
                    <form action="" method="post">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <!--article details im panel-->
                                        <input type="hidden" name="orderID" value="<%= stock[i].o_id %>">
                                        <div class="col-xs-1"><p><i class="fa fa-hashtag"></i> <%= stock[i].o_id %></p></div>
                                        <div class="col-xs-2"><p><i class="fa fa-glass"></i> <%= stock[i].name %></p></div>
                                        <div class="col-xs-2"><p><i class="fa fa-clock-o"></i> <%= dateString %></p></div>
                                            <% if (stock[i].status === 'Fertig') { %>
                                            <div class="col-xs-3"><p class="label label-success"><i
                                                            class="fa fa-check-square-o"></i> <%= stock[i].status %></p>
                                            </div>
                                            <% } else if (stock[i].status === 'Nicht bearbeitet'){ %>
                                            <div class="col-xs-3"><p class="label label-danger"><i
                                                            class="fa fa-times-rectangle"></i> <%= stock[i].status %></p>
                                            </div>
                                            <% } else if (stock[i].status === 'Wird bearbeitet') { %>
                                            <div class="col-xs-3"><p class="label label-warning"><i
                                                            class="fa fa-refresh"></i> <%= stock[i].status %></p></div>
                                            
                                            <% } else if (stock[i].status === 'Storniert') { %>
                                            <div class="col-xs-3"><p class="label label-info"><i
                                                            class="fa fa-times-rectangle"></i> <%= stock[i].status %></p></div>

                                            <% } %>

                                        <div class="col-xs-2">
                                            <button class="btn btn-default" data-toggle="collapse"
                                                    href="#collapseorder<%= [i] %>"><i
                                                        class="fa fa-eye"></i> Anzeigen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapseorder<%= [i] %>" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!--formular um den Inhalt einer Bestellung anzuzeigen-->
                                        <form action="" method="post">
                                            <div class="form-group">
                                                <div class="row">

                                                    <!--Verstecktes Feld!! Wichtig für die ID-->
                                                    

                                                    <% for(var k = 0; k < positions.length; k++) { %>
                                                    <% if (positions[k].o_id === stock[i].o_id) { %>
                                                        <input type="hidden" name="articleIDcancel" value="<%= positions[k].a_id %>">
                                                        <input type="hidden" name="articleAMOUNTcancel" value="<%= positions[k].amount %>">
                                                        <div class="row">
                                                        <div class="col-xs-1"></div>
                                                        <div class="col-xs-2">
                                                            Artikel:
                                                            <%= positions[k].description %>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            Anzahl:
                                                            <%= positions[k].amount %>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            Lagerung:
                                                            <%= positions[k].kind %>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <% } %>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <% } %>

            </div>
        </div>
    </div>
</div>
<!-- Modal Show Orders ENDE -->






<div class="container article-list">

    <h1>Lagerbestand</h1>

    <div class="row">
        <div class="col-xs-1"><h4>ID</h4></div>
        <div class="col-xs-2"><h4>Getränk</h4></div>
        <div class="col-xs-2"><h4>Lagerung</h4></div>
        <div class="col-xs-2"><h4>Anfangsbestand</h4></div>
        <div class="col-xs-1"><h4>Verbraucht</h4></div>
        <div class="col-xs-2"><h4>Restbestand</h4></div>
        <div class="col-xs-1"><h4>Bearbeiten</h4></div>
    </div>
    <% for(var i = 0; i < articles.length; i++) { %>

    <% var PercentageVal = articles[i].startstock - articles[i].consumed %>
    <% var LeftInStock = PercentageVal / articles[i].startstock * 100 %>
    <% var LeftRounded = Math.floor(LeftInStock) %>

    <div class="article-list__item panel-group">
        <span class="filter-helper hidden"><%= articles[i].description %></span>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <!--article details im panel-->
                    <div class="col-xs-1"><p><%= articles[i].a_id %></p></div>
                    <div class="col-xs-2"><p><%= articles[i].description %></p></div>
                    <div class="col-xs-2"><p><%= articles[i].kind %></p></div>
                    <div class="col-xs-2"><p><%= articles[i].startstock %></p></div>
                    <div class="col-xs-1"><p><%= articles[i].consumed %></p></div>
                    <div class="col-xs-2">
                        <div class="progress">

                            <% if ( LeftRounded <= 33 ) { %>
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="<%= LeftRounded %>"
                                 aria-valuemin="0" aria-valuemax="100" style="width:<%= LeftRounded %>%">
                                <%= LeftRounded %>%
                            </div>
                            <% } else if (LeftRounded <= 66) { %>
                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                 aria-valuenow="<%= LeftRounded %>"
                                 aria-valuemin="0" aria-valuemax="100" style="width:<%= LeftRounded %>%">
                                <%= LeftRounded %>%
                            </div>
                            <% } else if (LeftRounded <= 100) { %>
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="<%= LeftRounded %>"
                                 aria-valuemin="0" aria-valuemax="100" style="width:<%= LeftRounded %>%">
                                <%= LeftRounded %>%
                            </div>
                            <% } %>

                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-default" data-toggle="collapse" href="#collapse<%= [i] %>">
                            <i class="fa fa-edit"></i> ändern
                        </button>
                    </div>
                </div>
            </div>
            <!--panel zum ändern der tabelleneinträge-->
            <div id="collapse<%= [i] %>" class="panel-collapse collapse">
                <div class="panel-body">
                    <!--formular um dieses getränk zu ändern-->
                    <form action="" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-1">
                                    <!--Verstecktes Feld!! Wichtig für die ID-->
                                    <input type="hidden" name="articleID" value="<%= articles[i].a_id %>">
                                </div>
                                <div class="col-xs-2">

                                    <label for="article-description">Getränk</label>
                                    <input name="articleDescription" type="text" class="form-control"
                                           id="article-description"
                                           aria-describedby="article-description"
                                           value="<%= articles[i].description %>">
                                </div>
                                <div class="col-xs-2">

                                    <label for="article-stockkind">Lagerung</label>
                                    <input name="articleStockkind" type="text"
                                           class="form-control"
                                           id="article-stockkind"
                                           aria-describedby="article-stockkind"
                                           value="<%= articles[i].kind %>">
                                </div>
                                <div class="col-xs-2">
                                    <label for="article-startstock">Anfangsbestand</label>
                                    <input name="articleStartstock" type="text" class="form-control"
                                           id="article-startstock"
                                           aria-describedby="article-startstock"
                                           value="<%= articles[i].startstock %>">
                                </div>
                                <div class="col-xs-1">
                                    <label for="article-consumed">Verbraucht</label>
                                    <input name="articleConsumed" type="text" class="form-control"
                                           id="article-consumed"
                                           aria-describedby="article-consumed"
                                           value="<%= articles[i].consumed %>">
                                </div>
                                <div class="col-xs-3">
                                    <button formaction="/update-article" type="submit"
                                            class="btn btn-primary btn-block"><i class="fa fa-exchange"></i> ändern
                                    </button>
                                    <button formaction="/delete-article" onClick="return confirm('wirklich löschen?')"
                                            type="submit" class="btn btn-danger btn-block"><i
                                                class="fa fa-times-rectangle"></i> löschen
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>


<% } %>

<!-- only visible to bar -->

<% if (userRole === 'bar' && authenticated === true) { %>

<!-- Modal Register to show the Orders for Bar and you can cancal the orders -->
<div class="modal fade" id="showorders" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="registerLabel">Bestellungen</h2>
            </div>
            <div class="modal-body">
                <!-- show orders -->

                    <h1>Bestellungen</h1>

                    <div class="row">
                        <div class="col-xs-1"><h4>ID</h4></div>
                        <div class="col-xs-3"><h4>Datum</h4></div>
                        <div class="col-xs-2"><h4>Status</h4></div>
                        <div class="col-xs-3"><h4>Inhalt</h4></div>
                        <div class="col-xs-3"><h4>Bestellung stornieren</h4></div>
                    </div>

                    <% for(var i = 0; i < stock.length; i++) { %>
                        <% var x = stock[i].datetime%>
                        <% var dateString = moment.utc(x).format("DD-MM-YYYY, HH:mm"); %>
                    <form action="" method="post">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <!--article details im panel-->
                                        <input type="hidden" name="orderID" value="<%= stock[i].o_id %>">
                                        <div class="col-xs-1"><p><i class="fa fa-hashtag"></i> <%= stock[i].o_id %></p>
                                        </div>
                                        <div class="col-xs-2"><p><i class="fa fa-clock-o"></i> <%= dateString %></p></div>
                                            <% if (stock[i].status === 'Fertig') { %>
                                            <div class="col-xs-3"><p class="label label-success"><i
                                                            class="fa fa-check-square-o"></i> <%= stock[i].status %></p>
                                            </div>
                                            <% } else if (stock[i].status === 'Nicht bearbeitet'){ %>
                                            <div class="col-xs-3"><p class="label label-danger"><i
                                                            class="fa fa-times-rectangle"></i> <%= stock[i].status %></p>
                                            </div>
                                            <% } else if (stock[i].status === 'Wird bearbeitet') { %>
                                            <div class="col-xs-3"><p class="label label-warning"><i
                                                            class="fa fa-refresh"></i> <%= stock[i].status %></p></div>

                                            <% } %>

                                        <div class="col-xs-3">
                                            <button class="btn btn-default" data-toggle="collapse"
                                                    href="#collapse<%= [i] %>"><i
                                                        class="fa fa-eye"></i> Anzeigen
                                            </button>
                                        </div>

                                        <% if (stock[i].status === 'Nicht bearbeitet') { %>
                                        <div class="col-xs-3">
                                            <button formaction="/storn_order" type="submit"
                                                    class="btn btn-primary btn-block"><i class="fa fa-exchange"></i>
                                                Stornieren
                                            </button>
                                        </div>
                                        <% } %>

                                    </div>
                                </div>
                                <div id="collapse<%= [i] %>" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!--formular um den Inhalt einer Bestellung anzuzeigen-->
                                        <form action="" method="post">
                                            <div class="form-group">
                                                <div class="row">

                                                    <!--Verstecktes Feld!! Wichtig für die ID-->
                                                    

                                                    <% for(var k = 0; k < positions.length; k++) { %>
                                                    <% if (positions[k].o_id === stock[i].o_id) { %>
                                                        <input type="hidden" name="articleIDcancel" value="<%= positions[k].a_id %>">
                                                        <input type="hidden" name="articleAMOUNTcancel" value="<%= positions[k].amount %>">
                                                        <div class="row">
                                                        <div class="col-xs-1"></div>
                                                        <div class="col-xs-2">
                                                            Artikel:
                                                            <%= positions[k].description %>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            Anzahl:
                                                            <%= positions[k].amount %>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            Lagerung:
                                                            <%= positions[k].kind %>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <% } %>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <% } %>

            </div>
        </div>
    </div>
</div>
<!-- Modal Register ENDE -->


<div class="container">

    <form action="/bar-order" method="post">
        <!--Bestelloberfläche-->
        <div class="row">
            <% for(var i = 0; i < articles.length; i++) { %>

            <% var availableStockValue = articles[i].startstock - articles[i].consumed %>
            <!--Vierspaltiges Layout-->
            <div class="col-xs-6 col-sm-3 col-md-3">
                <!--Grauer Kasten-->
                <div class="well article">
                    <div class="article__box" style="background: url('<%= articles[i].link %>') no-repeat center;">
                    </div>
                    <!--Hidden Field-->
                    <input type="hidden" name="articleID" value="<%= articles[i].a_id %>">
                    <input type="hidden" name="articleDescription" value="<%= articles[i].description %>">

                    <h2><%= articles[i].description %></h2>
                    <div class="input-group number-spinner">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" disabled="disabled"
                                    data-type="minus"
                                    data-field="articleValue">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>

                        <input id="<%= articles[i].a_id %>" type="text" name="articleValue"
                               class="form-control input-number" value="0" min="0" max="<%= availableStockValue %>">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus"
                                        data-field="articleValue">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                        </span>
                    </div>

                </div>
            </div>

            <% } %>
        </div>

        <button type="submit" class="btn btn-lg btn-success">Bestellung abschicken</button>

    </form>
    <!--END of</form> -->
    <br>
    <br>
    <br>
    <br>

</div>


<!--START LAGER OBERFLÄCHE -->
<% } %>
<% if (userRole === 'lager' && authenticated === true) { %>

<div class="container">

    <h1>Bestellungen</h1>

    <div class="row">
        <div class="col-xs-1"><h4>ID</h4></div>
        <div class="col-xs-1"><h4>Bar</h4></div>
        <div class="col-xs-2"><h4>Datum</h4></div>
        <div class="col-xs-2"><h4>Status</h4></div>
        <div class="col-xs-2"><h4>Inhalt</h4></div>
        <div class="col-xs-2"><h4>Status ändern</h4></div>
        <div class="col-xs-2"><h4>Status aktualieren</h4></div>
    </div>
    <% for(var i = 0; i < stock.length; i++) { %>
    <% var x = stock[i].datetime%>
    <% var dateString = moment.utc(x).format("DD-MM-YYYY, HH:mm"); %>
    <form action="" method="post">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <!--article details im panel-->
                        <input type="hidden" name="orderID" value="<%= stock[i].o_id %>">
                        <div class="col-xs-1"><p><i class="fa fa-hashtag"></i> <%= stock[i].o_id %></p></div>
                        <div class="col-xs-1"><p><i class="fa fa-glass"></i> <%= stock[i].name %></p></div>
                        <div class="col-xs-2"><p><i class="fa fa-clock-o"></i> <%= dateString %></p></div>
                        <% if (stock[i].status === 'Fertig') { %>
                        <div class="col-xs-2"><p class="label label-success"><i
                                        class="fa fa-check-square-o"></i> <%= stock[i].status %></p></div>
                        <% } else if (stock[i].status === 'Nicht bearbeitet'){ %>
                        <div class="col-xs-2"><p class="label label-danger"><i
                                        class="fa fa-times-rectangle"></i> <%= stock[i].status %></p></div>
                        <% } else if (stock[i].status === 'Wird bearbeitet') { %>
                        <div class="col-xs-2"><p class="label label-warning"><i
                                        class="fa fa-refresh"></i> <%= stock[i].status %></p></div>
                        <% } %>

                        <div class="col-xs-2">
                            <button class="btn btn-default" data-toggle="collapse" href="#collapse<%= [i] %>"><i
                                        class="fa fa-eye"></i> Anzeigen
                            </button>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select name="changestatus" class="form-control" id="changestatus" required>
                                    <optgroup label="Status">
                                        <option selected="selected" disabled="disabled">Bitte auswählen</option>
                                        <option value="Wird bearbeitet">Wird bearbeitet</option>
                                        <option value="Fertig">Fertig</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <button formaction="/update-order" type="submit"
                                    class="btn btn-primary btn-block"><i class="fa fa-exchange"></i> ändern
                            </button>
                        </div>

                    </div>
                </div>
                <!--panel zum ändern der tabelleneinträge-->
                <div id="collapse<%= [i] %>" class="panel-collapse collapse">
                    <div class="panel-body">
                        <!--formular um dieses getränk zu ändern-->
                        <form action="" method="post">
                            <div class="form-group">
                                <div class="row">

                                    <!--Verstecktes Feld!! Wichtig für die ID-->
                                    <input type="hidden" name="articleID" value="<%= stock[i].o_id %>">

                                    <% for(var k = 0; k < positions.length; k++) { %>
                                    <% if (positions[k].o_id === stock[i].o_id) { %>
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-2">
                                            Artikel:
                                            <%= positions[k].description %>
                                        </div>
                                        <div class="col-xs-2">
                                            Anzahl:
                                            <%= positions[k].amount %>
                                        </div>
                                        <div class="col-xs-2">
                                            Lagerung:
                                            <%= positions[k].kind %>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% } %>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <% } %>
</div>


<% } %>
<% include partials/scripts.ejs %>
<!--ENDE LAGER OBERFLÄCHE -->


</body>

</html>
