<% include partials/head.ejs %>
<% include partials/navigation.ejs %>

<!-- show success messages -->
<% include partials/messages.ejs %>

<!-- show error messages -->
<% include partials/errors.ejs %>


<!-- only visible to admin -->

<% if (userRole === 'admin' && authenticated == true) { %>


<!-- Modal Register -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="registerLabel">Neue Registrierung</h2>
            </div>
            <div class="modal-body">

                <!-- show registration -->

                <form action="/register" method="post">
                    <div class="form-group">

                        <label for="user">Name</label>
                        <input name="username" type="text" class="form-control" id="user" aria-describedby="emailHelp"
                               placeholder="Username">

                        <label for="password">Passwort</label>
                        <input name="password" type="password" class="form-control" id="password"
                               placeholder="Passwort">

                        <label for="repPassword">Passwort wiederholen</label>
                        <input name="repPassword" type="password" class="form-control" name="repPassword">
                        <small id="emailHelp" class="form-text text-muted">nur zur Sicherheit :)</small>


                    </div>
                    <div class="form-group">
                        <label for="role">Rolle auswählen:</label>
                        <select name="role" class="form-control" id="role">
                            <optgroup label="ROLLEN">
                                <option selected="selected" disabled="disabled">Bitte auswählen</option>
                                <option value="admin">Admin</option>
                                <option value="lager">Lager</option>
                                <option value="bar">Bar</option>
                            </optgroup>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Registrieren</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Register ENDE -->

<div class="container">

    <h1>Lagerbestand</h1>

    <div class="row">
        <div class="col-xs-1"><h4>ID</h4></div>
        <div class="col-xs-2"><h4>Getränk</h4></div>
        <div class="col-xs-2"><h4>Lagerung</h4></div>
        <div class="col-xs-2"><h4>Anfangsbestand</h4></div>
        <div class="col-xs-2"><h4>Verbraucht</h4></div>
        <div class="col-xs-2"><h4>Restbestand</h4></div>
        <div class="col-xs-1"><h4>Bearbeiten</h4></div>
    </div>
    <% for(var i = 0; i < articles.length; i++) { %>

    <% var PercentageVal = articles[i].startstock - articles[i].consumed %>
    <% var LeftInStock = PercentageVal / articles[i].startstock * 100 %>
    <% var LeftRounded = Math.floor(LeftInStock) %>

    <div data-keyword="<%= articles[i].description %>" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <!--article details im panel-->
                    <div class="col-xs-1"><p><%= articles[i].a_id %></p></div>
                    <div class="col-xs-2"><p><%= articles[i].description %></p></div>
                    <div class="col-xs-2"><p><%= articles[i].kind %></p></div>
                    <div class="col-xs-2"><p><%= articles[i].startstock %></p></div>
                    <div class="col-xs-2"><p><%= articles[i].consumed %></p></div>
                    <div class="col-xs-2">
                        <div class="progress">

                            <% if ( LeftRounded <= 33 ) { %>
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="<%= LeftRounded %>"
                                 aria-valuemin="0" aria-valuemax="100" style="width:<%= LeftRounded %>%">
                                <%= LeftRounded %>%
                            </div>
                            <% } else if (LeftRounded <= 66) { %>
                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                 aria-valuenow="<%= LeftRounded %>"
                                 aria-valuemin="0" aria-valuemax="100" style="width:<%= LeftRounded %>%">
                                <%= LeftRounded %>%
                            </div>
                            <% } else if (LeftRounded <= 100) { %>
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="<%= LeftRounded %>"
                                 aria-valuemin="0" aria-valuemax="100" style="width:<%= LeftRounded %>%">
                                <%= LeftRounded %>%
                            </div>
                            <% } %>

                        </div>
                    </div>
                    <div class="col-xs-1"><a data-toggle="collapse" href="#collapse<%= [i] %>">edit</a></div>
                </div>
            </div>
            <!--panel zum ändern der tabelleneinträge-->
            <div id="collapse<%= [i] %>" class="panel-collapse collapse">
                <div class="panel-body">
                    <!--formular um dieses getränk zu ändern-->
                    <form action="/update-article" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-1">
                                    <!--Verstecktes Feld!! Wichtig für die ID-->
                                    <input type="hidden" name="articleID" value="<%= articles[i].a_id %>">
                                </div>
                                <div class="col-xs-2">

                                    <label for="article-description">Getränk</label>
                                    <input name="articleDescription" type="text" class="form-control"
                                           id="article-description"
                                           aria-describedby="article-description"
                                           value="<%= articles[i].description %>">
                                </div>
                                <div class="col-xs-2">

                                    <label for="article-stockkind">Lagerung</label>
                                    <input name="articleStockkind" type="text"
                                           class="form-control"
                                           id="article-stockkind"
                                           aria-describedby="article-stockkind"
                                           value="<%= articles[i].kind %>">
                                </div>
                                <div class="col-xs-2">
                                    <label for="article-startstock">Anfangsbestand</label>
                                    <input name="articleStartstock" type="text" class="form-control"
                                           id="article-startstock"
                                           aria-describedby="article-startstock"
                                           value="<%= articles[i].startstock %>">
                                </div>
                                <div class="col-xs-2">
                                    <label for="article-consumed">Verbraucht</label>
                                    <input name="articleConsumed" type="text" class="form-control"
                                           id="article-consumed"
                                           aria-describedby="article-consumed"
                                           value="<%= articles[i].consumed %>">
                                </div>
                                <div class="col-xs-3">
                                    <button type="submit" class="btn btn-primary btn-block">ändern</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>


<% } %>

<!-- only visible to bar -->

<% if (userRole === 'bar' && authenticated == true) { %>

<div class="container">

    <form action="/bar-order" method="post">
        <!--Bestelloberfläche-->
        <div class="row">
            <% for(var i = 0; i < articles.length; i++) { %>
            <!--Vierspaltiges Layout-->
            <div class="col-xs-4 col-sm-2 col-half-offset">
                <!--Grauer Kasten-->
                <div class="well article__box">

                    <!--Hidden Field-->
                    <input type="hidden" name="articleID" value="<%= articles[i].a_id %>">
                    <input type="hidden" name="articleDescription" value="<%= articles[i].description %>">

                    <h2 class="title"><%= articles[i].description %></h2>

                    <div class="input-group number-spinner">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
                              data-field="articleValue">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>

                            <input id="<%= articles[i].a_id %>" type="text" name="articleValue" class="form-control input-number" value="0" min="0" max="<%= articles[i].startstock %>">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="articleValue">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                        </span>
                    </div>
                </div>
            </div>

            <% } %>
        </div>

        <button type="submit" class="btn btn-primary">Bestellung abschicken</button>

    </form>
    <!--END of</form> -->
    <br>
    <br>
    <br>
    <br>

</div>

<% } %>
<% include partials/scripts.ejs %>

</body>

</html>
